.footer-item ul li {
  transition: 0.3s all linear;
  font-size: 600;
}
.footer-item ul li:hover {
  color: crimson;
  transform: translateX(-10px);
}
footer {
  z-index: 10000 !important;
}
.footer-item input {
  color: white;
}
.footer-item form {
  padding: 15px;
}
.footer-item ::placeholder {
  color: white;
}
